*{
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
}
h2{
    font-size: 1rem;
    font-weight: bold;
}
/* Navigation styles */
a{
text-decoration: none;
color: #0e0e0e;
}
nav{
    grid-area: nav;
}
li{
    list-style-type: none;
}
 nav a{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight:500;
}
nav ul{
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
        margin: 0;
    }
.main-title a{
    grid-area: main;
    text-align: center;
    vertical-align: middle;
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.main-logo{
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.header{
    display: grid;
    grid-template-columns: 2fr 0.25fr 2fr;
    grid-template-areas:
        "main . nav";
    align-items: center;
    padding: 0.75em 1em;
}
/* End of Navigation styles */

/* Main Title styles */
article{
    width: 90%;
    margin: 1.5em 1.25em;
}
.hero-section{
    position: relative;
    color: #FFFFFF;
    height: 21em;
    background-image: url(../images/hero-post-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 a{
    color: #FFFFFF;
}
.hero-article{
    position: absolute;
    text-align: center;
    top: 3em;
    /* bottom: 1em; */
    right: 5em;
    left: 2em;
}
.hero-date{
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 100;
    text-align: left;
}
.hero-article-title{
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0.25em 0 0.25em 0;
    text-align: left;
}
.hero-article-desc{
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: left;
}
.post-image{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 5px;
}
.post-article-desc{
    font-size: 1rem;
    line-height: 1.2;
    color: #505050;
}
.post-date{
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 100;
    margin-top: 1em;
}
.post-article-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
.view-more{
    /* display: block; */
    text-align: center;
    margin: 2em 0;
    font-size: 1.15rem;
    font-weight: 600;
    color: #0e0e0e;
    text-decoration: underline;
}
/* End of Main Title styles */
/* Footer styles */
footer{
    background-color: #0e0e0e;
    color: #ECECEC;
    text-align: center;
    padding: 1.5em 0;
    font-size: 0.8rem;
    font-weight: 600;
}
footer p{
    margin: 0;
    padding: 0.2em;
}
.copy-right{
    color: #d7d7d7;
    font-weight: 100;
}
/* End of Footer styles */
.recent-posts{
    text-align: center;
    font-weight: bold;
    margin-top: 3em;
}
.profile-image{
    width: 13em;
    margin-bottom: 0.5em;
}
.profile-title{
    font-size: 2.125rem;
}
